thead th span {
  cursor: pointer;
}

tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-family: "Merriweather", serif;
  background-color: gray;
  vertical-align: center;
}

thead {
  margin-top: 5px;
  font-family: "Merriweather", serif;
  background-color: navy;
  color: white;
  border-bottom: 4px solid gray;
}

.align-middle {
  text-align: center;
  font-family: "Merriweather", serif;
}

.align {
  text-align: center;
  font-family: "Merriweather", serif;
  color: white;
}
