body {
    background: lightgray;
}

.heading {
    font-size: 35px;
    padding: 25px;
    background-color: blue;
    font-family: 'Merriweather', serif;
    margin: 15px;
    text-align: center;
    color: white
}

.link {
    font-size: 25px;
    font-family: 'Merriweather', serif;
    padding: 20px;
    margin: 15px;
    color: purple;
    text-align: center;
}