body {
    background: lightgray;
}

.heading {
    font-size: 35px;
    padding: 20px;
    background-color: navy;
    font-family: Georgia;
    margin: 10px;
    align-content: center;
    color: white
}

.link {
    font-size: 25px;
    font-family: Georgia;
    paddng: 20px;
    margin: 15px;
    color: purple;
}